img {
	width: 100%;
}

header {
	padding: 1vw;
	border-bottom: 2px solid #000;
}

header .brand img {
	max-width: 200px;
}

header a img {
	max-width: 18%;
	padding: 0 1vw;
	transition: all 0.2s;
}

header a img:hover {
	padding: 0 1.2vw;
}

.nav-bar {
	font-size: 2rem;
	background-color: #000;
	padding: 0.5vw;
}

.nav-bar a {
	color: #fff;
	padding: 2vw;
	border-right: 1px solid #fff;
	margin: 0 2vw;
	transition: all 0.2s;
}

.nav-bar a:hover {
	color: #88AA00;
	text-decoration: none;
}

.active a{
	color: #88AA00;
}

.aside {
	margin-top: 2vw;
}

main {
	margin-top: 6vw;
}

@media (max-width: 480px) {

	.nav-bar {
		padding: 0;
	}	

	.nav-bar ul li {
		display: block !important;
		padding: 2vw;
		width: 100%;
		border-bottom: 1px solid #fff;

	}

	.nav-bar a {
		border-right: none;
		
	}

	.brand {
		margin-bottom: 8vw;
		padding: 2vw;
		border-bottom: 1px solid #ccc;
	}
}